<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class='portrait' src="/img/github.jpg" alt="">
    <p>After writing his first software patent as a teenager, Richie worked first at a large defense contractor and later at a blockchain start-up.  Now at EY, Richie is a member of Tax Technology and Transformation’s Intelligent Automation team where he focuses on improving client systems with emerging technologies.</p>
    <p>Richie holds a Bachelor’s of Science in Accounting and Information Systems from NC State University as well as a CPA.</p>
    <p>This site uses data from mapbox.com and darksky.net</p>
    </div>
   

    {{>footer}}
</body>
</html>